<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/testScope}">测试ServletAPI</a>
<a th:href="@{/testModeAndView}">测试ModeAndView</a>
<a th:href="@{/testModel}">测试Model</a>
<a th:href="@{/testMap}">测试Map</a>
<a th:href="@{/testModelMap}">测试ModelMap</a>
<a th:href="@{/testSession}">session</a>
<a th:href="@{/testApplication}">Application</a>
<a th:href="@{/testForward}">转发</a>
<a th:href="@{/testRedirect}">重定向</a>
<a th:href="@{/testSuccess}">success</a>
</body>

</html>