<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定接口 命名空间-->
<mapper namespace="com.bit.dao.UserDao">
    <select id="getUserList" resultType="com.bit.bean.User">
       select *from mybatis.user
    </select>
    <select id="getUserById" resultType="com.bit.bean.User" parameterType="int">
        select *from mybatis.user where id=#{id};
    </select>
    <insert id="addUser" parameterType="com.bit.bean.User">
        insert into mybatis.user (id,name,pwd) values(#{id},#{name},#{pwd});
    </insert>
    <update id="updateUser" parameterType="com.bit.bean.User">
        update mybatis.user set name=#{name},pwd=#{pwd} where id=#{id};
    </update>
    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id=#{id};
    </delete>
</mapper>