<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.chatroom.mapper.FriendMapper">

    <resultMap id="BaseResultMap" type="com.kc.chatroom.model.entity.Friend">
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="friendId" column="friendId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,friendId
    </sql>
    <insert id="addFriendRequest">


    </insert>
    <insert id="addFriend">

    </insert>
    <delete id="deleteFriendRequest">

    </delete>
    <select id="findFriend" resultType="com.kc.chatroom.model.entity.Friend">


    </select>
    <select id="getFriendRequest" resultType="com.kc.chatroom.common.AddFriendRequest">

    </select>
</mapper>
