<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.chatroom.mapper.MessageSessionMapper">

    <resultMap id="BaseResultMap" type="com.kc.chatroom.model.entity.MessageSession">
        <id property="sessionId" column="sessionId" jdbcType="INTEGER"/>
        <result property="lastTime" column="lastTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sessionId
        ,lastTime
    </sql>
    <insert id="addMessageSession" useGeneratedKeys="true" keyProperty="sessionId">
        insert into message_session
        values (null, now());
    </insert>
    <insert id="addMessageSessionUser">
        insert into message_session_user
        values (#{sessionId}, #{userId});
    </insert>
</mapper>
