<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.chatroom.mapper.MessageSessionUserMapper">

    <resultMap id="BaseResultMap" type="com.kc.chatroom.model.entity.MessageSessionUser">
            <result property="sessionId" column="sessionId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        sessionId,userId
    </sql>
</mapper>
