<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="query" method="get">
    请选择班级:
    <select name="select" id="select">
        <option value="21软件一班">21软件一班</option>
        <option value="21软件二班">21软件二班</option>
        <option value="21软件三班">21软件三班</option>
        <option value="21软件四班">21软件四班</option>
    </select>
    <input type="submit" value="查询"><br>
    <table width="900" cellspacing="" border="2px">
        <tr align="center">
            <th> 学号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>班级</th>
        </tr>
        <tr th:each="studnet : ${students}">
            <td align="center" th:text="${studnet.id}"></td>
            <td align="center" th:text="${studnet.name}"></td>
            <td align="center" th:text="${studnet.gender}"></td>
            <td align="center" th:text="${studnet.classname}"></td>
        </tr>
    </table>
</form>
</body>
</html>


