<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        h1{
            background-color: deepskyblue;
            height: 80px;
        }
    </style>
</head>
<body>
<form action="login" method="post">
    <h1>用户注册</h1>
    用户名: <input type="text" name="username"> <br>
    密码: <input type="password" name="password"> <br>
    请确认密码: <input type="password" name="password"> <br>
    电子邮箱: <input type="text" name="email"> <br>
    性别:<input type="radio" name="radio" value="男"> 男<input type="radio" name="radio" value="女">女<br>

    教育程度:<select name="select" id="select">
    <option value="小学">小学</option>
    <option value="初中">初中</option>
    <option value="*高中">高中</option>
    <option value="专科">专科</option>
    <option value="本科" selected="selected">本科</option>
    <option value="研究生">研究生</option>
    <option value="博士生">博士生</option>
</select>
    <input type="submit" value="提交"><input type="reset" value="重置">
</form>
</body>
</html>


