/* CSS Document */
BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	background-color: #EAEBF9;
	MARGIN: 0px;
	COLOR: #666;
	LINE-HEIGHT: 150%;
	PADDING-TOP: 0px;
	FONT-FAMILY: verdana,sans-serif;
	TEXT-ALIGN: left;
	margin-bottom: 0px;
	scrollbar-3d-light-color:#ff9000; 
	scrollbar-arrow-color:#ff9000;
	
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px;margin-top: 2px;
}
.clear {
	CLEAR: both
}
INPUT {
	FONT-SIZE: 12px; COLOR: #ff900; FONT-FAMILY: verdana,sans-serif;
}
TEXTAREA {
	FONT-SIZE: 12px; COLOR: #ff900; FONT-FAMILY: verdana,sans-serif
}
SELECT {
	FONT-SIZE: 12px; COLOR: #ff900; FONT-FAMILY: verdana,sans-serif
}
A {
	COLOR: #3f87d7; TEXT-DECORATION: none
}
A:hover {
	COLOR: #de781e; TEXT-DECORATION: underline
}
.whole {  padding:0px; margin:0PX auto; width:770px; background:url(../Images/bg.jpg); height:auto;
}
.top { margin:0px auto;width:765px; height:27px; background:url(../Images/top.jpg) no-repeat; padding-right:4px; margin-left:4px;
}
.top IMG{margin-top:9px;
}
.header { padding:0px; margin:0px auto; width:770px; height:255px; padding:4px;	
}
.header-1 { padding:0px; margin:0px auto; width:770px; height:100px;	
}
.logo { padding:0px;margin:0px; float:left;width:100px; height:100px;	
}
.banner1 { padding:0px; margin:0px; float:right;width:670px; height:50px;	
}
 
   /* main */
.main { MARGIN: 0px auto; WIDTH: 770px; height:auto;padding:4px;
       
}
 
 
/*=====================admin====================================*/

/*====================admintop=====================================*/
.topmenu {
}
.Headerbg {
	BACKGROUND: url(../Images/admin1.gif) repeat-x
}
.HeaderLeft {
	BACKGROUND: url(../Images/Admin3.gif) no-repeat left 50%; WIDTH: 12px; HEIGHT: 51px
}
.HeaderRight {
	BACKGROUND: url(../Images/Admin6.gif) no-repeat right 50%; WIDTH: 12px; HEIGHT: 51px
}
.HeaderMiddle {
	VERTICAL-ALIGN: middle; COLOR: #fff
}
/*====================adminleft=====================================*/
.leftmenu {
}
.Left_01 {
	BACKGROUND: url(../Images/Admin_23.gif) repeat-x 50% top
}
.Left_02 {
	BACKGROUND: url(../Images/Admin_49.gif) repeat-x 50% bottom
}
.Left_03 {
	BACKGROUND: url(../Images/Admin_30.gif) repeat-y left 50%
}
.Left_04 {
	BACKGROUND: url(../Images/Admin_32.gif) repeat-y right 50%
}
.Left_Item02 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: url(../Images/icon02.gif) #f4f4f4 repeat-x 50% bottom; PADDING-BOTTOM: 4px; LINE-HEIGHT: 20px; PADDING-TOP: 4px
}
.Left_Item02 A {COLOR:#de781e
}
.Left_Item02 A:hover{COLOR: #3f87d7
}
.Left_Item01 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../Images/MenuBg.gif) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 27px
}
.Left_Item01 A:link {
	FONT-WEIGHT: bold; COLOR: #fff
}
.Left_Item01 A:visited {
	FONT-WEIGHT: bold; COLOR: #fff
}
.Left_Item01_Title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px
}
.Left_boder {
	BACKGROUND: #fff; MARGIN-BOTTOM: 2px; WIDTH: 161px
}
/*====================adminleft=====================================*/
.adminshow {
}
.colorline {color:#ff9000;TEXT-ALIGN: left; BORDER-bottom: #ff9000 1px solid;filter:alpha(opacity=10,finishopacity=100,style=1,startX=100,startY=100,finishX=0,finishY=0);width:300;
}
.ShopInfo {
	MARGIN: 10px 20px
}
.SubMenu_Item {
	BACKGROUND: url(../Images/topnav.gif) repeat-x 50% bottom; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 5px
}
.Current_Item {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: url(../Images/Admin28.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; WIDTH: 82px; COLOR: #fff; PADDING-TOP: 10px; HEIGHT: 27px; TEXT-ALIGN: center
}
.Default_Item {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: url(../Images/topnavmnu.gif) no-repeat center bottom; PADDING-BOTTOM: 0px; WIDTH: 94px; PADDING-TOP: 15px; TEXT-ALIGN: center
}
.Default_Item A {COLOR:#de781e;TEXT-DECORATION: none
}
.Default_Item A:hover{COLOR: #3f87d7;TEXT-DECORATION: none
}
 