<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.dao.UserMapper">
  <select id="getAllUser" resultType="com.kc.bean.User">
    select id,name,dir,sex,address from t_user;
  </select>
  <insert id="addUser" parameterType="com.kc.bean.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values (#{id},#{name},#{dir},#{sex},#{address})
  </insert>

  <delete id="deleteUserById" parameterType="String">
    delete from t_user where id = #{id}
  </delete>

  <update id="updateUser" parameterType="com.kc.bean.User">
    update t_user set name=#{name},dir=#{dir},sex=#{sex},address=#{address}
    where id=#{id}
  </update>

  <select id="findByPage" resultType="com.kc.bean.User">
    select id,name,dir,sex,address from t_user limit #{start },#{rows}
  </select>
  <select id="findTotals" resultType="Long">
    select count(id) from t_user
  </select>
</mapper>